<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login page</title>
</head>
<body>
	<form action="/login" method="post">
		<input type="text" name="cellPhone" value='1234'>
		<input type="password" name="password" value='1234'>
		<input type="button" value="login">
	</form>
	<div id="state"></div>
	<input type="button" value="logout">
</body>
<script type="text/javascript" src="/lib/wrox.js"></script>
<script type="text/javascript">
	function login () {
		var xmlhttp = Wrox.ProJS.AjaxUtil.createXHR(),
		onReady = function (e) {
			if(this.readyState==4 && this.status==200 ){
				var state;
				switch(xmlhttp.responseText){
					case "0":state = "success";break;
					case "1":state = "phone has not been registered";break;
					case "2":state = "password is wrong";break;
				}
				document.getElementById("state").innerHTML = state;
			}
		};

		xmlhttp.open("POST","/login",true);
        data = new FormData(document.getElementsByTagName("form")[0]);
        xmlhttp.send(data);
        xmlhttp.addEventListener('readystatechange', onReady, false);
	}

	function logout(){
		var xmlhttp = Wrox.ProJS.AjaxUtil.createXHR(),
		onReady = function (e) {
			if(this.readyState==4 && this.status==200 ){
				document.getElementById("state").innerHTML = responseText;
			}
		};

		xmlhttp.open("POST","/logout",true);
        xmlhttp.send();
        xmlhttp.addEventListener('readystatechange', onReady, false);
	}

	window.onload=function(){
		Wrox.ProJS.EventUtil.addHandler(document.getElementsByTagName("input")[2],"click",login);
		Wrox.ProJS.EventUtil.addHandler(document.getElementsByTagName("input")[3],"click",logout);
	}
</script>
</html>