<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register Page</title>
</head>
<body>
	<ui>
		<form action="/register" method="post">
		<li>user<input type="text" name="user_name" value="user"></li>
		<li>phone<input type="phone" name="cellPhone" value="1234"></li>
		<li>password<input type="password" name="password" value="1234"></li>
		<li>password<input type="password" name="password_2" value="1234"></li>
		<li><input type="submit"></li>
		</form>
	</ui>	
	<!-- to add normal form judge -->
</body>
</html>