<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>send help</title>
</head>
<body>
	<form action="/api/message/sendhelp" method="post">
		<input type="text" name="userId" value="12345678901">
		<input type="text" name="content" value="help~~~help~~~~">
		<input type="text" name="type" value="a">
		<input type="number" name="longitude" value="113">
		<input type="number" name="latitude" value="23">
		<input type="text" name="code" value="44011311202">
		<input type="submit">
	</form>
	<form action="/api/message/askQuestion" method="post">
		<input type="text" name="userId" value="12345678901">
		<input type="text" name="content" value="help~~~help~~~~">
		<input type="text" name="type" value="a">
		<input type="number" name="longitude" value="113">
		<input type="number" name="latitude" value="23">
		<input type="text" name="code" value="44011311202">
		<input type="submit">
	</form>
</body>
</html>